body{
    background-color: #083b4c;
}

#wrapper{
    max-width: 700px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #ffff;
}

.col-1{
    width: 100px;
    height: 100px;
}

.normal{
    background-color: #1389b2;
}

.multiple-3{
    background-color: #0cd6a1;
}

.multiple-5{
    background-color: #ffd166;
}

.multiple-15{
    background-color: #f0466f;
}


